extend ../layouts/main

block content
	.section
		+section-title('Контакты', 'section__title_main')
		.row
			.col_6.col_xs-12
				.text.h-mb_20
					h3 Екатеринбург
					div Адрес: ул.Вишневая, 46 (вход со двора), 2й этаж.
					div Телефоны: +7 (343) 286-98-72, 201-52-44, 202-02-80
					div E-mail: info@utt66.ru
					div Skype: utt66skv
				.map
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9Dzzw0vMsymiRIa85ycX9bahWvdDLW6Q&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

			.col_6.col_xs-12
				.text.h-mb_20
					h3 г.Сочи
					div Адрес: г.Сочи, ул. Яна Фабрициуса, 1
					div Телефоны в Сочи: +7 (918) 999-88-62
					div E-mail: sochi@utt66.ru
					div Skype: utt66skv
				.map
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=VAAatDY5yUVAbk4yGPTYjy8guYJz1tBG&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

		.delimiter

		.row
			.col_6.col_xs-12
				.text
					h3 Реквизиты компании:

					div ООО "Урал Табак"
					div ИНН / КПП: 6670402059 / 667001001
					div ОГРН: 1136670008628
					div Юридический адрес: 620078, РФ, Свердловская обл., г.Екатеринбург, ул. Гагарина, д. 28, лит., Д, оф.103
					div Фактический адрес: 620062, РФ, Свердловская обл., г.Екатеринбург, ул. Вишневая, д.46, оф. 202
					div.h-mt_30 Директор Свалов Кирилл Валерьевич	на основании Устава
