extend ../layouts/main

block content

	section.section.section_intro-inner

		.container.h-align_center
			ul.breadcrumbs
				li.breadcrumbs__item
					a(href='/').breadcrumbs__link Главная
				li.breadcrumbs__item.active
					a(href='#').breadcrumbs__link Для частного дома

			h1.section__main-title Для часного дома


	section.section
		.section__scroll-bot.section__scroll-bot_below.js-section-scroll
			.icon.icon_mouse

		.container
			.row
				.col_10.shift_1
					.section__title-wrap.section__title-wrap_min
						h2.section__title Текстовый заголовок для продвижения
					p.h-mb_40 ВРУ — устройство (электрощит), предназначенное для приёма, распределения, резервирования и учёта электрической энергии, устанавливаемое в жилых и общественных зданиях, а также промышленных производственных помещениях.

				.col_11.h-mb_40
					.row
						.col_6
							img.img(src='./assets/images/img-2.png')
						.col_6
							p ВРУ исползуется для защиты сетевых потребителей от аварийной перегрузки и коротких замыканий. Контрольные приборы в составе ВРУ ведут учет расхода электроэнергии и контроль правильного распределения нагрузки по сети.
							p Сфера применения ВРУ очень широка. Они применяются для питания производственных, жилых и общественных объектов. В основном ВРУ подключается к питающей сети с напряжением 220-380 В переменного тока с частотой 50-60 Гц с глухим заземлением.

				.col_10.shift_1
					.section__title-wrap.section__title-wrap_min
						h2.section__title Текстовый заголовок для продвижения
					p ВРУ — устройство (электрощит), предназначенное для приёма, распределения, резервирования и учёта электрической энергии, устанавливаемое в жилых и общественных зданиях, а также промышленных производственных помещениях.

					.quote
						p.quote__text ВРУ — устройство (электрощит), предназначенное для приёма, распределения, резервирования и учёта электрической энергии, устанавливаемое в жилых и общественных зданиях, а также промышленных производственных помещениях.

					p.h-mb_40 ВРУ — устройство (электрощит), предназначенное для приёма, распределения, резервирования и учёта электрической энергии, устанавливаемое в жилых и общественных зданиях, а также промышленных производственных помещениях.

					ul.list.h-mb_40
						li Первый пункт списка
						li Второй пункт списка
						li Третий пункт списка

					ol.list.h-mb_40
						li Первый пункт списка
						li Второй пункт списка
						li Третий пункт списка

					include ../partials/table
