*, *:before, *:after
	box-sizing: border-box
html
body
	height 100%
	width 100%
	font-family $base-ff
	font-size $base-fs
	color $base-fc

body
	-webkit-font-smoothing antialiased
	background: url(../images/pattern-body.jpg) top left;

a
	color $color-link

	&:hover
		color $color-link-hover

p
	margin-bottom 25px
	line-height $base-lh

h1
	font-size $fsH1
	line-height: 1.3
	color: $color-main-title
	font-weight normal
	margin-bottom: 20px
	+below($mobileSmall)
		font-size $fsH2
h2
	font-size $fsH2
	line-height: 1.4
	font-weight normal
	color: $color-title
	+below($mobileSmall)
		font-size $fsH3
h3
	font-size $fsH3
	line-height: 1.5
	font-weight normal
	color: $color-title
h4
	font-size $fsH4
	line-height: 1.6
	font-weight normal
	color: $color-title

li

	/*&:before
		content ''
		position absolute
		width 5px
		height 5px
		background-color $color-second
		top 9px
		left 0
		border-radius 50%*/

b, strong
	font-family $base-ff-bold
