.container
    center(max-width: 1400px)
    padding 0 30px

.row
    cf()

if $grid == true
    for i in (1..12)
        .col_{i}
            column(i/12, offset: 0, gutter: 3.67)

        .shift_{i}
            shift(i/12, offset: 0, gutter: 3.67)
