$opensans       = "OpenSansRegular", Arial, Helvetica, sans-serif;
$opensansbold   = "OpenSansBold", Arial, Helvetica, sans-serif;
$opensanslight  = "OpenSansLight", Arial, Helvetica, sans-serif;
$opensanscond   = "OpenSansCondensedLight", Arial, Helvetica, sans-serif;

$base-ff = $opensanslight
$base-ff-bold = $opensansbold

$base-fs = 16px
$base-fc = #000
$base-lh = 1.6

$color-main = #8c7461
$color-main-dark = #920000

$color-blue = #0185a7
$color-blue-dark = #005f90
$color-red = #ed1c24
$color-green = #00993b
$color-yellow = #ffe400
$color-orange = #f3b114
$color-grey = #6d6f72
$color-grey-light = lighten($color-grey, 60%)

$color-title = $color-main
$color-main-title = #3a0c00
$color-section-title = $color-main




$color-link = $color-main
$color-link-hover = $color-main-dark

$input-bg = #fff
$input-border = $color-main
$input-border-error = $color-red
$input-error = $color-red
$input-color = $base-fc
//Font size

$fsH1 = 40px
$fsH2 = 24px
$fsH3 = 20px
$fsH4 = 16px
$fsH5 = 12px

//color-menu

//z-index
