.input
	position: relative
	&__text,
	&__textarea
		font-size: $base-fs
		padding 0.6em 1em
		background-color $input-bg
		border 2px solid transparent
		outline none
		border-radius 3px
		color $input-color
		transition all 0.2s linear
		width: 100%
		&:hover
			border-color rgba($input-border, 0.6)

		&:focus
			outline none
			border-color rgba($input-border, 0.8)

	&__textarea
		resize none

		&_request
			height: 300px
			+below($mobile)
				height: 150px

	&__label
		font-size: 16px
		margin-bottom 8px
		display block
		&_required
			&:after
				content '*'
				display inline-block
				color $color-red
				position: relative
				margin-left 3px
				top -2px


	&__error
		display: none
		position: absolute
		bottom -18px
		font-family: $opensans
		color: $input-error
		&_rel
			bottom 0
			position: relative
			margin-top 10px
		&_reverse
			color #ff8b8f

	&__radio+&__radio-label:before
		content ''
		position absolute
		top 6px
		left 2px
		width 18px
		height 18px
		background-color #ffffff
		transition all .3s ease-out
		border-radius 10px
		border 1px solid rgba($input-border, 0.6)
		box-sizing border-box

	&__radio:checked+&__radio-label:before
		background rgba($input-border, 0.8)
		border 1px solid rgba($input-border, 0.8)

	&__radio
		position absolute
		left -9999px
		opacity 0.01

	&__radio-label
		padding-left 30px
		padding-top 5px
		position relative
		cursor: pointer

	&__radio:checked+&__radio-label:after
		content ''
		background-color #fff
		width 8px
		height 8px
		border-radius 5px
		position absolute
		top 11px
		left 7px

	//Status input wrapper
	&.succes
		& ^[0]__text
			border-color rgba($input-border, 1)
			&:hover
				border-color rgba($input-border, 1)

	&.error
		& ^[0]__text
			border-color rgba($input-border-error, 0.8)
			&:hover
				border-color  rgba($input-border-error, 0.9)

			&:focus
				border-color rgba($input-border-error, 1)
				background-color rgba($input-bg, 0.8)
