footer.footer
    .container
        .footer__container
            .footer__row
                .footer__copyright © 2010 — 2016 ООО «Урал Табак»
            .footer__row
                .footer__col
                    .footer__content-row г.Екатеринбург
                    .footer__content-row Адрес: ул.Вишневая, 46 (вход со двора), 2й этаж.
                    .footer__content-row Телефоны: +7 (343) 286-98-72, 201-52-44, 202-02-80
                    .footer__content-row E-mail: info@utt66.ru
                    .footer__content-row Skype: utt66skv
                .footer__col
                    .footer__content-row г.Сочи
                    .footer__content-row Адрес: г.Сочи, ул. Яна Фабрициуса, 1
                    .footer__content-row Телефоны в Сочи: +7 (918) 999-88-62
                    .footer__content-row E-mail: sochi@utt66.ru
                    .footer__content-row Skype: utt66skv

            .footer__row
                .footer__warning Минздравсоцразвития РФ предупреждает: курение вредит вашему здоровью. Запрещено для детей! 18+
