.header
    .container
        .header__container
            .header__item.header__item_logo
                .header__logo
                    a(href="/").logo
            .header__container-inner
                .header__item.header__item_contacts
                    .header__city
                        .city-change
                            select.city-change__select.js-select
                                option(value='0') Екатеринбург
                                option(value='1') Нижневартовск
                                option(value='2') Пермь
                                option(value='3') Челябинск
                    .header__phone
                        .phone
                            .phone__number
                                span.phone__number-prefix +7 (343)&nbsp;
                                span.phone__number-main 286-98-72
                .header__item.header__item_menu
                    .menu
                        .menu__items.js-menu-items
                            each item, i in ['О компании', 'Покупателям', 'Сотрудничество', 'Контакты']
                                - var active = ''
                                if (i == 1)
                                    - active = 'active'
                                .menu__item(class=active)
                                    a(href="#").menu__item-link=item
                        .menu__button.js-menu-button
                            .menu__button-decor

            .header__search
                form.search(action="#")
                    input.search__input(placeholder="поиск")
                    button.search__button
