ul.list-icon.h-mt_10
    li.list-icon__item
        .list-icon__item-text Гарантию на оборудование
        .list-icon__item-icon
            .icon.icon_sheld
    li.list-icon__item
        .list-icon__item-text Доступные и честные цены
        .list-icon__item-icon
            .icon.icon_price
    li.list-icon__item
        .list-icon__item-text Только качественные комплектующие
        .list-icon__item-icon
            .icon.icon_check
    li.list-icon__item
        .list-icon__item-text Квалифицированный и опытный персонал
        .list-icon__item-icon
            .icon.icon_user
    li.list-icon__item
        .list-icon__item-text Защиту оборудования от пыли и влаги
        .list-icon__item-icon
            .icon.icon_wet

    li.list-icon__item
        .list-icon__item-text Безопасность обслуживания
        .list-icon__item-icon
            .icon.icon_lock
