table.table
    thead
        tr
            each i in [1,2,3]
                th Заголовок
    tbody
        -var i = 0
        while i < 5
            tr
                - i++
                each i in [1,2,3]
                    td Содержимое
