.logo
    display: inline-block
    width 141px
    height 51px
    background url(../images/logo.svg) no-repeat center
    background-size: 100%

+below($mobile)
    .logo
        width (0.75*141)px
        height (0.75*51)px
