include ../mixins/section-title
include ../mixins/shop-item
doctype html
html
	include ../partials/head
	body
		.wrapper
			.wrapper__page
				.wrapper__page-top
					include ../partials/header
					.wrapper__content
						.wrapper__content-second
							include ../partials/sidebar
						.wrapper__content-main
							.content
								block content
				.wrapper__page-bot
					include ../partials/footer

			.wrapper__popups
				block popup

		block script
		script(src="./assets/js/libs.js")
		script(src='./assets/js/main.js')
