.phone
    position: relative
    padding-left 26px
    white-space: nowrap
    &:after
        content ''
        width: 14px
        height 14px
        background: url(../images/phone.svg) no-repeat center
        background-size 100%
        pos-center-h()
        left 0

    &__number-main
        color $color-main-dark
        font-family: $base-ff-bold
