.list
    list-style: none
    & li, &__item
        margin-bottom 15px
        font-size: $base-fs
        line-height: $base-lh
        padding-left: 40px
        list-style: none
        position: relative

        &:before
            content ''
            width 8px
            height @width
            background-color $color-main
            position: absolute
            left 0
            top 9px
            border-radius 50%

    ol&, &_count
        counter-reset: myCounter
        & li, &__item
            &:before
                counter-increment: myCounter;
                content:counter(myCounter) '.';
                width auto
                height auto
                border none
                background-color: transparent
                position: absolute
                left 0
                top 1px
                color $color-main
