.form
    &__row
        margin-bottom: 20px
        &_submit
            margin-top 40px

    &_gorizontal
        & ^[0]__row
            display inline-block
            margin-right: 20px
            vertical-align: bottom
            &:last-child
                margin-right 0
